<marquee behavior="scroll" direction="left"><p id="f">Currently playing: <span style="color:var(--username)">{{file_name}}</span></p></marquee>
<div class="header-title"><img class="header-image" src="/static/images/profile.jpg"></div>
<audio id="s"><source src="/{{api_url}}/{{file_id}}" type="{{file_mime}}"></audio>
