<h1>About.</h1>
<p>The Wired Stream is a minimalistic music player designed with simplicity in mind. If you wish to host your own instance be it local or remote the source code can be found on GitLab <a href="https://gitlab.com/love_lace/wired-stream/">here</a>.</p>
