        <div style="text-align:center">
            <i class="fa fa-backward" onclick="b()"></i>
            <i class="fa fa-play" onclick="d()" id="p" style="color:var(--accent)"></i>
            <i class="fa fa-forward" onclick="a()"></i>
        </div>
