<h1>Shortcuts</h1>
<p>Press <span style="color:var(--shortcut)">SPACE</span> key to <span style="color:var(--shortcut)">pause</span>/<span style="color:var(--shortcut)">play</span>.</p>
<p>Press <span style="color:var(--shortcut)">Left Ctrl</span> and <span style="color:var(--shortcut)">Right Ctrl</span> keys to <span style="color:var(--shortcut)">rewind</span>/<span style="color:var(--shortcut)">fastforward 5 seconds</span> respectively.</p>
<p>Press <span style="color:var(--shortcut)">Left Arrow</span> and <span style="color:var(--shortcut)">Right Arrow</span> keys to go <span style="color:var(--shortcut)">previous</span>/<span style="color:var(--shortcut)">next song</span> respectively.</p>
<p>Press <span style="color:var(--shortcut)">Up Arrow</span> and <span style="color:var(--shortcut)">Down Arrow</span> keys to <span style="color:var(--shortcut)">raise</span>/<span style="color:var(--shortcut)">lower the volume</span> respectively.</p> 
<p><i>Vim keybindings also work (j,k-rewind/fastforward, h,l-previous/next)</i>.</p>
