@import url('./normalize.css');
@import url('./skeleton.css');
@import url('./awesome.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

:root {
	--accent: #D2738A;
	--bg: #141221;
	--hostname: #3A6169;
	--username: #8542FF;
	--shortcut: #16A085;
	--text: #FFFFFF;
	--font: 'IBM Plex Mono', monospace;
}
