<h1>Welcome to the WiredStream.</h1>
<div class="header-title"><img class="header-image" src="/static/images/profile.jpg"></div>
<p>The Wired Stream is a minimalistic music player designed with simplicity in mind.</p>
<p>Lost? Click <a href="play">here</a> to continue to the music player.</p>
<p>For further Information regarding WiredStream checkout the <a href="https://gitlab.com/love_lace/wired-stream/">repo</a>.</p>
{{> player/version}}
